<div class="well">
  <h1>Login!</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-1">
     <%= form_tag '/login' do %>
        <% if notice %>
          <div class="alert alert-danger">
            <strong>The following errors prevented login:</strong>
            <p> <%= notice %> </p>
          </div>
        <% end %>

        <div class="form-group">
          <%= label_tag 'Email' %>
          <%= text_field_tag :email, params[:email], class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag 'Password' %>
          <%= password_field_tag :password, nil, class: 'form-control' %>
        </div>

        <%= submit_tag 'Login', class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>