<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  <div class="row review-form">
      <div class="form-inline">
        <%= form_for [@product, @review] do |form| %>

          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class='form-group'>
            <%= form.label :description %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>

          <div class='form-group'>
            <%= form.label :rating %>
            <%= form.select :rating, options_for_select(1..5), class: 'custom-select' %>
          </div>

          <%= form.submit 'Create Review', class: 'btn btn-primary create-button' %>
        <% end %>

      </div>
    </div>

    <div class="row">
       <%= render @product.reviews %>

    </div>

  </article>

</section>
